@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  color: white;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
}
.active-cursor-pixel {
    background-color: cyan !important; /* Force the color */
    box-shadow: 0 0 5px cyan;
    opacity: 1 !important;
}

/* Custom Scrollbar for Terminal */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #1e293b; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }